.main{
    margin-top: 200px;
   
}
.img{
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;    
    
}
.input{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border: 1px solid black;
    border-radius: 30px;
    height: 10px;
    padding: 15px;
    
} 

.button{ 
   
 
    margin-left: 15px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: bold;
    background: #dfe1e5;
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.btn{
 

margin-left: 15px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: bold;
    background: #dfe1e5;
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.wrapper{

       display: flex;
    justify-content: center;

}

